<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue test</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
<!--VueTest-->
<div id="app">
    <!-- Test1: -->
 <!--    <h1>{{ message }}</h1>
    <label for="vmodel">This is the label for the message </label>
    <input v-model="message" id="vmodel"> -->
    <!-- Test2 -->
    <div v-html="message"></div>
</div>
<script>
    const { createApp, ref } = Vue

    createApp({
        setup() {
            const message = ref('Hello Vue! From Kenneth')
            return {
                message
            }
        }
    }).mount('#app')
</script>
<!--Skoletest-->
<!--     <div id="app">
        <h1>{{ message }}</h1>
    </div> -->
    <!--Skoletest script-->
<script>
    new Vue({
        el:"#app",
        data: { message: "<h1> Greetings from the Vue v-html!</"}
    });
</script>
 <!--    <div id="app">
        <h1>You must type a message</h1>
        <textarea v-model="message"></textarea>
        <button v-show="message">Send message!</button>
        <pre>
                {{$data | json}}
        </pre>
    </div> -->
<div id="app2">
    <h1>You must type a message</h1>
    <textarea v-model="message"></textarea>
    <button v-show="message">Send message!</button>
    <pre>
        {{$data | json}}
    </pre>
</div>

<script>
    new Vue({
        el: "#app2",
        data: { message: "" },
    });
</script>
</body>
</html>